select {
    margin: 0 0 0.5em 0;
}

.outputSelector {
    margin-top: 30px;
}
.body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 300;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select
{
    max-width: 280px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-75 {
    margin-top: 75px;
}

.margin-0 {
    margin: 0;
}

#checkModal .modal-content {
    min-width: 640px;
}

.mark {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#micRecorder, #myPlayback {
    background-color: #EEE;
}

.bootstrap-notify-container {
    max-width: 320px;
    text-align: center;
}
