@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" data-toggle="tab">STUDENT</a></li>
                    <li role="presentation"><a href="#teacher" data-toggle="tab" onclick="getTeacherData()">TEACHER</a></li>
                    <li role="presentation"><a href="#options" data-toggle="tab">OPTIONS</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel"  class="tab-pane fade in active" id="home">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="micRecorder" class="video-js margin-top-75 center-block"></div>
                                <button type="button" class="btn btn-default btn-lg margin-top-20 center-block" onclick="savefile()">Send To Teacher</button>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="teacher">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Date Time</th>
                                <th class="text-center">Checked</th>
                                <th class="text-center">Viewed</th>
                                <th class="text-center">To Check</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: { data: exerciseList, as: 'exercise'}">
                            <tr class="text-center">
                                <td>
                                    <p data-bind="text: exercise.DateTime"></p>
                                </td>
                                <td>
                                    <input type="checkbox" disabled data-bind="checked: exercise.IsChecked" />
                                </td>
                                <td>
                                    <input type="checkbox" disabled data-bind="checked: exercise.IsViewed" />
                                </td>
                                <td>
                                    <a href="#" data-bind="click: check.bind($data)">check</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="options">
                        <b>Settings Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center">
                    <h4 class="margin-0"><span class="label label-success" id="success-msg">Success!</span></h4>
                    <h4 class="margin-0"><span class="label label-danger" id="danger-msg">Failed!</span></h4>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <audio id="myPlayback" class="video-js center-block"></audio>
                </div>
                <div class="text-center margin-top-20">
                    <button type="button" class="btn btn-danger btn-lg" onclick="addBug(0)">Type 1</button>
                    <button type="button" class="btn btn-warning btn-lg" onclick="addBug(1)">Type 2</button>
                    <button type="button" class="btn btn-success btn-lg" onclick="addBug(2)">Type 3</button>
                    <button type="button" class="btn btn-primary btn-lg" onclick="addBug(3)">Type 4</button>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-default" onclick="saveChecked()">Save</button>
                    <button type="button" class="btn btn-default" onclick="clearMarks()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

